
extends ../layout/main
block variable
  -
    var title_page = 'VISIA'
    var id_page = 'id-page-en'
    var class_page = 'class-page-index'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var teamMembers = [
      {num:1, name: "Viktoriia Kovalchuk", position: "Chief Operating Officer" },
      {num:2, name: "Victor Isaiev", position: "BIM manager; Head of the Technical Team" },
      {num:3, name: "Anastasiia Lebedieva", position: "Deputy CEO" },
      {num:4, name: "Vitalina Yurchenko", position: "Head of the creative department (Chief architect)" },
      {num:5, name: "Liudmyla Andriichuk", position: "Receivables/ payable control manager, warehouse manager" },
      {num:6, name: "Anastasiia Mykhailenko", position: "Legal/administrative control" },
      {num:7, name: "Yehor Filonenko", position: "General design/turnkey implementation project manager" },
      {num:8, name: "Kateryna Romaniuk", position: "Chief financial manager" },
      {num:9, name: "Oleksandr Nuzhnenko", position: "Main implementation project manager" },
      {num:10, name: "Yevhenii Shuliachenko", position: "General design/turnkey implementation project manager" },
      {num:11, name: "Ruslan Stepanenko", position: "An estimate expert" },
      {num:12, name: "Igor Petrovych", position: "Technical Сhief architect" },
    ]
block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')

block content
  section.hero 
    .bg-img-parallax
      img(src="./assets/images/hero-bg.jpg" alt="Chicago" img-parallax ).section-bg
    .container.hero__title-container
      .hero__title 
        span This is 
        div 
        h1 Visia
  section.about 
    .container 
      .section-title 
        .section-title__square 
        h2.section-title__text VISIA makes construction easier
      .about__descr-container 
        p 
          span.accent VISIA 
          span Terra Project is a company based on an innovative IT platform for creating general construction projects and uniting real estate market players at different stages of construction. It is part of the SAGA Development holding.
        p.mobile-none ©2012-23
      .about__adwantages-img-container 
        .about__adwantages-img--first
          .about__advantage
          p.about__advantage Our uniqueness and strength is the union of hundreds of teams of planners, architects, designers, and engineers from all over the country. In addition to that, we have 11 years of experience in the general design of the city of Kyiv and other parts of Ukraine.
          .img-wrap__small-img
            img(src="./assets/images/about-1.jpg" alt="Chicago"  img-parallax) 

          .img-wrap__text 
            p Projects 
            p.anim__text { : more 150}
        .about__adwantages-img--second 
          p.about__advantage Thanks to system management, VISIA Terra Project is able to pick up a project at any stage, integrating its management system into it, ensuring high-quality completion and commissioning of construction objects. 
          p.about__advantage Our customers monitor in real-time all processes taking place simultaneously during the implementation of projects. Transparency is our main principle on which the team management system and customer reporting are built.
          .img-wrap__big-img
            img(src="./assets/images/about-2.jpg" alt="Chicago"  img-parallax) 

          p.about__projects-descr Currently, the VISIA Terra Project portfolio includes about 150 projects at various stages of implementation (from urban concept to the development of working documentation), which are implemented exclusively using BIM technologies, which significantly improves the quality of objects for real estate market players.

  section.mission
    .container 
      .section-title 
        .section-title__square 
        h2.section-title__text Mission and benefits
      .mission__descr-container 
        p  Creation of a transparent technological platform for the restoration of Ukraine, which is an important component of the unification of the parties: the state, international donors, and contractors. 
        p.mobile-none Union  
      .mission__img-container
        img(src="./assets/images/mission.jpg" alt="Chicago"  img-parallax) 

  section.team
    .container 
      .section-title 
        .section-title__square 
        h2.section-title__text Founders
      .team__founders-cards-wrap
        .founders-card.founder-card-1
          .founders__img-wrap
            img(src="./assets/images/boss1.jpg" alt="Victoria Sorel" loading="lazy")
            .founders__mask
            .founders-card__mask
            .founders-card__text-wrap 
              h3.founders-card__name Victoria Sorel
              .founders-card__descr.founder-card-decsr-1
                p Co-owner, general director, ideologist of the VISIA Terra Project
                span Top manager with extensive practical experience in launching the construction and reorganization of businesses at different stages of development. Civil engineer with experience in design and construction of industrial and civil facilities in Ukraine and the EU.

        .founders-card.founder-card-2
          .founders__img-wrap
            img(src="./assets/images/boss2.jpg" alt="Andrii Vavrysh" loading="lazy")
            .founders__mask
            .founders-card__mask
            .founders-card__text-wrap 
              h3.founders-card__name Andriy Vavrish 
              .founders-card__descr.founder-card-decsr-2
                p Co-owner, ideologist and visionary of the VISIA Terra Project
                span CEO of SAGA Development holding, real estate market expert with many years of experience in development and construction.

      .team__members-cards-wrap 
        canvas(id="space").team-members__bg
        .team__members-descr 
          p Our management team is a dynamic and highly qualified team that manages all aspects of the company's activities.
        .team__gallery
          each member in teamMembers
            .member-card(class=`member-card${member.num} member-card`)
              .member-content__wrap
                img(src=`./assets/images/member${member.num}.jpg` alt=member.name loading="lazy" )
                .founders__mask
                .member__text-wrap 
                  h3.member__name=member.name
                  p.member__position=member.position
          .member-card--label.img-wrap__text 
            p Best 
            p Team




  section.filler
    .filler__bg-img-parallax 
      img(src="./assets/images/filler.jpg" alt="Chicago" loading="lazy" img-parallax).filler-img
    .container 
      .filler-title 
        h2 Visia 
        p.filler__second-title З нами 
        h2 Просто 
  section.projects 
    .container
      .section-title 
        .section-title__square 
        h2.section-title__text Projects
      .projects__descr-container
        p The result of the activities of VISIA Terra Project is 3.5 million square meters of designed residential and administrative facilities. In addition, more than 50 industrial facilities, including gas stations.
        p.mobile-none Result
      .projects__advantages-wrap 
        p The complex design documentation, which is the result of the VISIA Terra Project, meets the state construction standards of Ukraine and is adapted to European standards and norms.

      .swiper
        .swiper-scrollbar-wrap
          .swiper-scrollbar
        .swiper-button-prev
          +svg("arrow-swiper")
        .swiper-button-next
          +svg("arrow-swiper")
        .swiper-wrapper

          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Chicago.jpg" alt="project Chicago" loading="lazy")
              .project__text-wrap 
                h3 Chicago Central House
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Rybalsky.jpg" alt="project Rybalsky" loading="lazy")
              .project__text-wrap 
                h3 Rybalsky
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Saga-Space.jpg" alt="project-Saga-Space" loading="lazy")
              .project__text-wrap 
                h3 Saga City Space
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Nowy-Podil.jpg" alt="Nowy-Podil" loading="lazy")
              .project__text-wrap 
                h3 Новий Поділ
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Kyiv.jpg" alt="kyiv project" loading="lazy")
              .project__text-wrap 
                h3 KYЇVPROEKT City Space
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Andriyivsky.jpg" alt="Nowy-Podil" loading="lazy")
              .project__text-wrap 
                h3 ANDRIYIVSKY City Space
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Residence.jpg" alt="project-Residence" loading="lazy")
              .project__text-wrap 
                h3 O2 Residence
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Philadelphia.jpg" alt="project-Philadelphia" loading="lazy")
              .project__text-wrap 
                h3 PHILADELPHIA Concept House
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-New-York.jpg" alt="New York Concept" loading="lazy")
              .project__text-wrap 
                h3 New York Concept
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Boston.jpg" alt="project-Boston" loading="lazy")
              .project__text-wrap 
                h3 BOSTON Creative House
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Resident.jpg" alt="project-Resident" loading="lazy")
              .project__text-wrap 
                h3 RESIDENT Concept House
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Washington.jpg" alt="project-Washington" loading="lazy")
              .project__text-wrap 
                h3 Washington Concept House 
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-San-Francisco.jpg" alt="project-San-Francisco" loading="lazy")
              .project__text-wrap 
                h3 San Francisco Creative House






block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
