
extends ../layout/main
block variable
  -
    var title_page = 'index'
    var id_page = 'id-page-index'
    var class_page = 'class-page-index'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var teamMembers = [
      {num:1, name: "Вікторія Ковальчук", position: "Операційний директор" },
      {num:2, name: "Євген Шуляченко", position: "Керівник проекту Генерального проектування" },
      {num:3, name: "Єгор Філоненко", position: "Керівник проекту Генерального проектування" },
      {num:4, name: "Лебедєва Анастасія", position: "Заступник генерального директора" },
      {num:5, name: "Нужненко Олександр", position: "Керівник проекту Генерального проектування" },
      {num:6, name: "Ляненко Анастасія", position: "Юридичний/адміністративний контроль" },
      {num:7, name: "Руслан Степаненко", position: "Експерт з Кошторисної справи" },
      {num:8, name: "Ісаєв Віктор", position: "Менеджер BIM; Керівник Технічної команди" },
      {num:9, name: "Віталіна Юрченко", position: "Лідер креативного департаменту" },
      {num:10, name: "Ігор Петрович", position: "Головний архітектор проекту" },
      {num:11, name: "Людмила Андрійчук", position: "Головний менеджер з контролю дебіторської/ кредиторської заборгованості" },
      {num:12, name: "Катерина Романюк", position: "Головний фінансовий менеджер" },
    ]
block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')

block content
  section.hero 
    .bg-img-parallax
      picture
        source.section-bg(srcset='./assets/images/hero-bg-mobile.jpg' media='(max-width: 767px)' img-parallax)
        source.section-bg(srcset='./assets/images/hero-bg-tablet.jpg' media='(min-width: 768px) and (max-width: 1023px)' img-parallax)
        source.section-bg(srcset='./assets/images/hero-bg.jpg' media='(min-width: 1366px)' img-parallax)
        img(src="./assets/images/hero-bg.jpg" alt="Chicago" img-parallax).section-bg
    .container.hero__title-container
      .hero__title 
        span This is 
        div 
        h1 Visia
  section.about 
    .container 
      .section-title 
        .section-title__square 
        h2.section-title__text Про нашу компанію
      .about__descr-container 
        p  VISIA Terra Project – це компанія, що базується на інноваційній IT-платформі для створення будівельних генпроєктів та об’єднання гравців ринку нерухомості на різних етапах будівництва. Входить до складу холдингу SAGA Development.
        p.mobile-none ©2012-23
      .about__adwantages-img-container 
        .about__adwantages-img--first
          .about__advantage
          p.about__advantage Наша унікальність та сила – це об'єднання сотень команд проєктувальників, архітекторів, дизайнерів та інженерів з усієї країни. А також 11-ти річний досвід генерального проєктування міста Києва та інших куточків України. 
          .img-wrap__small-img
            picture
              source(srcset='./assets/images/about-1-mobile.jpg' media='(max-width: 767px)' loading="lazy" img-parallax)
              source(srcset='./assets/images/about-1-tablet.jpg' media='(min-width: 768px) and (max-width: 1023px)' loading="lazy" img-parallax)
              source(srcset='./assets/images/about-1.jpg' media='(min-width: 1366px)' loading="lazy" img-parallax)
              img(src="./assets/images/about-1.jpg" alt="Chicago" loading="lazy" img-parallax) 
            //- img(src="./assets/images/about-1.jpg" alt="Chicago" img-parallax) 
          .img-wrap__text 
            p Projects 
            p.anim__text {150}
        .about__adwantages-img--second 
          p.about__advantage Наша унікальність та сила – це об'єднання сотень команд проєктувальників, архітекторів, дизайнерів та інженерів з усієї країни. А також 11-ти річний досвід генерального проєктування міста Києва та інших куточків України. 
          p.about__advantage Завдяки системному управлінню, VISIA Terra Project надає змогу підхопити проєкт на будь-якій стадії, інтегрувавши у нього свою систему менеджменту, що забезпечує якісне завершення та здачу об’єктів в експлуатацію.
          .img-wrap__big-img
            picture
              source(srcset='./assets/images/about-2-mobile.jpg' media='(max-width: 767px)' loading="lazy" img-parallax)
              source(srcset='./assets/images/about-2-tablet.jpg' media='(min-width: 768px) and (max-width: 1023px)' loading="lazy" img-parallax)
              source(srcset='./assets/images/about-2.jpg' media='(min-width: 1366px)' loading="lazy" img-parallax)
              img(src="./assets/images/about-2.jpg" alt="Chicago" loading="lazy" img-parallax) 
            //- img(src="./assets/images/about-2.jpg" alt="project 2" img-parallax)
          p.about__projects-descr  Наразі портфель компанії VISIA Terra Project налічує близько 150 проєктів на різних стадіях виконання (від urban-концепції до розробки робочої документації), робота над якими побудована виключно за технологіями ВІМ, що значно підвищує якість запроєктованих об’єктів для гравців ринку нерухомості.

  section.mission
    .container 
      .section-title 
        .section-title__square 
        h2.section-title__text Місія та переваги
      .mission__descr-container 
        p  Створення прозорої технологічної платформи для відбудови України, що є важливою складовою для об’єднання сторін: держава - міжнародні донори - виконавці. 
        p.mobile-none Union  
      .mission__img-container
        picture
          source(srcset='./assets/images/mission-mobile.jpg' media='(max-width: 767px)' loading="lazy" img-parallax)
          source(srcset='./assets/images/mission-tablet.jpg' media='(min-width: 768px) and (max-width: 1023px)' loading="lazy" img-parallax)
          source(srcset='./assets/images/mission.jpg' media='(min-width: 1366px)' loading="lazy" img-parallax)
          img(src="./assets/images/mission.jpg" alt="Chicago" loading="lazy" img-parallax) 
        //- img(src="./assets/images/mission.jpg" alt="project" img-parallax) 
  section.team
    .container 
      .section-title 
        .section-title__square 
        h2.section-title__text Засновники
      .team__founders-cards-wrap
        .founders-card.founder-card-1
          .founders__img-wrap
            img(src="./assets/images/boss1.jpg" alt="Victoria Sorel")
            .founders-card__mask
            .founders-card__text-wrap 
              h3.founders-card__name Вікторія Сорель
              .founders-card__descr.founder-card-decsr-1
                p Співвласниця, генеральний директор, ідеолог компанії VISIA Terra Project
                span Топ-менеджерка з великим практичним досвідом запуску побудови та реорганізації бізнесів на різних етапах розвитку. Інженерка-будівельниця з досвідом проєктування та будівництва об’єктів промислового та цивільного призначення в Україні та ЄС.

        .founders-card.founder-card-2
          .founders__img-wrap
            img(src="./assets/images/boss2.jpg" alt="Andrii Vavrysh")
            .founders-card__mask
            .founders-card__text-wrap 
              h3.founders-card__name Андрій Вавриш
              .founders-card__descr.founder-card-decsr-2
                p Iдеолог та візіонер компанії VISIA Terra Project
                span СЕО холдингу SAGA Development, експерт ринку нерухомості із багаторічним досвідом у галузі девелопменту та будівництва.

      .team__members-cards-wrap 
        canvas(id="space").team-members__bg
        .team__members-descr 
          p Наша команда менеджменту — це динамічний і висококваліфікований злагоджений колектив, який керує всіма аспектами діяльності підприємства.
        .team__gallery
          each member in teamMembers
            .member-card(class=`member-card${member.num} member-card`) 
              img(src=`./assets/images/member${member.num}.jpg` alt=member.name loading="lazy")
              .member__text-wrap 
                h3.member__name=member.name
                p.member__position=member.position
          .member-card--label.img-wrap__text 
            p Best 
            p Team




  section.filler
    .bg-img-parallax 
      picture
        source(srcset='./assets/images/filler-mobile.jpg' media='(max-width: 767px)' loading="lazy" img-parallax).filler-img
        source(srcset='./assets/images/filler-tablet.jpg' media='(min-width: 768px) and (max-width: 1023px)' loading="lazy" img-parallax).filler-img
        source(srcset='./assets/images/filler.jpg' media='(min-width: 1366px)' loading="lazy" img-parallax).filler-img
        img(src="./assets/images/filler.jpg" alt="Chicago" loading="lazy" img-parallax).filler-img
    .container 
      .filler-title 
        h2 Visia 
        p.filler__second-title З нами 
        h2 Просто 
  section.projects 
    .container
      .section-title 
        .section-title__square 
        h2.section-title__text Проєкти
      .projects__descr-container
        p  Результатом діяльності VISIA Terra Project є 3,5 мільйона квадратних метрів площі запроєктованих об'єктів житлового та адміністративного призначення. Крім цього, понад 50 об’єктів промислового призначення, в тому числі автозаправні станції.
        p.mobile-none Result
      .projects__advantages-wrap 
        p Комплекс проєктної документації, що є результатом діяльності VISIA Terra Project, відповідає державним будівельним нормам України та адаптивний під європейські стандарти та норми. 
      .swiper
        .swiper-scrollbar-wrap
          .swiper-scrollbar
        .swiper-wrapper

          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Chicago.jpg" alt="project Chicago" loading="lazy")
              .project__text-wrap 
                h3 Chicago Central House
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Rybalsky.jpg" alt="project Rybalsky" loading="lazy")
              .project__text-wrap 
                h3 Rybalsky
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Nowy-Podil.jpg" alt="Nowy-Podil" loading="lazy")
              .project__text-wrap 
                h3 Новий Поділ
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Kyiv.jpg" alt="kyiv project" loading="lazy")
              .project__text-wrap 
                h3 KYЇVPROEKT City Space
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Andriyivsky.jpg" alt="Nowy-Podil" loading="lazy")
              .project__text-wrap 
                h3 ANDRIYIVSKY City Space
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Residence.jpg" alt="project-Residence" loading="lazy")
              .project__text-wrap 
                h3 O2 Residence
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Philadelphia.jpg" alt="project-Philadelphia" loading="lazy")
              .project__text-wrap 
                h3 PHILADELPHIA Concept House
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-New-York.jpg" alt="New York Concept" loading="lazy")
              .project__text-wrap 
                h3 New York Concept
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Boston.jpg" alt="project-Boston" loading="lazy")
              .project__text-wrap 
                h3 BOSTON Creative House
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Resident.jpg" alt="project-Resident" loading="lazy")
              .project__text-wrap 
                h3 RESIDENT Concept House
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-Washington.jpg" alt="project-Washington" loading="lazy")
              .project__text-wrap 
                h3 Washington Concept House 
          .swiper-slide
            .project__card 
              .project__img-wrap 
                img(src="./assets/images/project-San-Francisco.jpg" alt="project-San-Francisco" loading="lazy")
              .project__text-wrap 
                h3 San Francisco Creative House






block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
